.container {
    max-width: 1920px;
    width: 100%;
    margin: 0 auto;
  
}

/* Header  */

header {
    max-width: inherit;
    width: inherit;
    display: flex;
    position: fixed;
    justify-content: space-between;
    align-items: center;
    background-color: #262626;
    top: 0%;
    left: 50%;
    transform: translateX(-50%);
    
    padding: 46px 320px 45px;
   
    z-index: 1;



}

ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 68px;
    font-family: 'Work Sans', sans-serif;
    


}

.act {
    color: #DCB47A;
}

.no_act {
    color: #fff;

}

/* Section_1  */

.section_1 {
    width: 100%;
    height: 100%;
    margin-top: 130px;


}

.section_1_img {
    width: 1920px;
   
    margin: 0 auto;
   

}

h1 {
    font-style: normal;
    font-weight: 700;
    font-size: 82px;
    line-height: 96px;
    text-align: center;
    position: absolute;
    width: 1128px;
    height: 162px;
    left: 396px;
    top: 372px;
    font-family: 'Work Sans', sans-serif;
    color: #ffff;
    margin-bottom: 161px;

}

.section_1_txt {
    font-weight: 400;
    font-size: 24px;
    line-height: 150%;
    text-align: center;
    width: 583px;
    height: 60.75px;
    left: 668px;
    top: 695px;
    position: absolute;
    color: #fff;
    font-family: 'Work Sans', sans-serif;
    margin-bottom: 23px;
}

.search {
    position: absolute;
    display: flex;
    padding: 24px 30px;
    border-radius: 50px;
    width: 463px;
    height: 71px;
    left: 729px;
    top: 779px;
    background: rgba(255, 255, 255, 0.2);
    border: 1px solid #FFFFFF;
    backdrop-filter: blur(10px);
    justify-content: center;
    align-items: center;

}

.searc_txt {
    color: #fff;
    font-weight: 400;

    font-family: 'Work Sans', sans-serif;

}

.btn {
    margin-left: 248px;
    width: 51px;
    height: 51px;

}

/* Section 2 */

.section_2 {
    padding: 245px 32px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;


}


h2 {

    color: #081323;
    font-weight: 600;
    font-size: 75px;
    line-height: 88px;
    font-family: 'Work Sans', sans-serif;
    font-weight: 600;
    margin-bottom: 81px;
}

.section_2_div {
    display: flex;
    gap: 55px;
    width: 1280px;
    height: 557px;
    align-items: flex-start;
}

.product_frame {
    border: 2px solid #DCB47A;
    padding: 30px 41px;
    display: flex;
    flex-direction: column;

}

.product_desc {
    margin-top: 54px;
    gap: 179px;
    display: flex;
    align-items: center;
    margin-bottom: 17px;



}

.prod_txt {
    font-family: 'Inter', sans-serif;
    color: #000000;
    font-weight: 400;
}

.cart {
    width: 24px;
    height: 24px;
    justify-content: center;


}

/* Footer  */

footer{
    padding: 60px 630px;
    background: #262626;
    margin: 0 auto;
   left: 0;
    width: 1920px;
    display: flex;
    

}

.footer_txt{
    display: flex;
    flex-direction: column;
    gap: 49px;
    align-items: center;
}

h3{
    font-weight: 600;
font-size: 60px;
line-height: 70px;
color: #FFFFFF;
font-family: 'Work Sans', sans-serif;


}

span{
    color: #DCB47A;
}

.mid_txt{
    font-weight: 400;
font-size: 18px;
line-height: 130%;
font-family: 'Work Sans', sans-serif;
color: rgba(255, 255, 255, 0.8);
}

button{
    background: #DCB47A;
border-radius: 60px;
padding: 25px 60px;

}
.button_txt{
    font-weight: 700;
font-size: 16px;
font-family: 'Work Sans', sans-serif;
color: #ffff;
}